.navbar-inverse {
  background-color: #1C1842;
}

.navbar-inverse .navbar-brand {
  color: #fff;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color: #fff;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a {
    color: #9d9d9d;
}

.header img {
  float: left;
}

.header h2 h3 {
  position: relative;
  top: 18px;
  left: 10px;
}

.dropdown-menu {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}

.result {
  color: #1C1842;
}
